<!-- <p>view-task works!</p>
<h1>{{v.user1}}</h1>
<h1>{{v.task_name}}</h1>
<h1>{{v.task_description}}</h1> -->

<!-- <h1>{{v.status}}</h1> -->

<!-- <table class="table">
    <tr>
        <th>id</th>
        <th>task_name</th>
        <th>task_description</th>
        <th>status</th>
    </tr> -->
    <!-- <tr *ngFor="let s of ary"> -->
        <!-- <tr > -->
        <!-- <td>{{v.user1}}</td>
        <td>{{v.task_name}}</td>
        <td>{{v.task_description}}</td> -->
        <!-- <td>{{v.status}}</td> -->
    <!-- </tr>
</table> -->