<!-- <p>task works!</p>
<div class="container">
    <h1>login</h1>
        <form #form3="ngForm" (ngSubmit)="task(form3.value)">
        
        <div>
            <label for="username">username :</label>
            <input type="text" name="username" id="username" placeholder="enter your username" class="form-control" ngModel>
        </div>
        
        <div>
            <label for="task">task :</label>
            <input type="text" name="task_name" id="password" placeholder="enter your task" class="form-control" ngModel>
        </div>

        <div>
            <label for="task_description">task :</label>
            <input type="text" name="task_description" id="task_description" placeholder="enter your task_description" class="form-control" ngModel>
        </div>

 <div>
            <label for="status">task :</label>
            <input type="number" name="status" id="status" placeholder="enter your status" class="form-control" ngModel>
        </div>
            <input type="submit" value="LOGIN" class="btn btn-primary">
        </form>
</div> -->